[submodule "3rdparty/four-c-example-master"]
	path = 3rdparty/four-c-example-master
	url = https://github.com/memsharded/four-c-example.git
[submodule "3rdparty/example-poco-timer-master"]
	path = 3rdparty/example-poco-timer-master
	url = https://github.com/memsharded/example-poco-timer.git
